<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="sparta-logo"></div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
      <li class="nav-item"><a class="nav-link" href="/cohorts">Cohorts</a></li>
      <li class="nav-item"><a class="nav-link" href="/roles">Roles</a></li>
      <li class="nav-item"><a class="nav-link" href="/specialisations">Specialisations</a></li>
    </ul>
  </div>
</nav>
