<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="sparta-logo"></div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
      <li class="nav-item"><a class="nav-link" href="/cohorts">Cohorts</a></li>
      <li class="nav-item"><a class="nav-link" href="/roles">Roles</a></li>
      <li class="nav-item"><a class="nav-link" href="/specialisations">Specialisations</a></li>

      <!-- Temporary -->
      <ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul><ul></ul>

      <form class="d-none" id="log-out" action="/" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Log Out">
      </form>

      <button class="btn btn-secondary btn-sm" type="submit" name="button" form="log-out">Log Out</button>

    </ul>
  </div>
</nav>
