<h1 class="text-center">Edit This Specialisation</h1><br>

<% if @redirect == true %>
  <p class="incorrect-input">Please enter a value</p>
<% end %>

<%= erb :"specialisations/form", :layout => false %>
