<h1>Make A New Specialisation</h1>

<% if @redirect == true %>
  <p class="incorrect-input text-center">Please enter a value</p>
<% end %>

<% if @not_unique == true %>
  <p class="incorrect-input text-center">This Specialisation already exists</p>
<% end %>

<%= erb :"specialisations/form", :layout => false%>
