<div class="container">

  <div class="row justify-content-center">
    <div class="col-6 text-center border border-dark rounded">
      <h1><%= @cohort.cohort_name %></h1>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-3">
      <h4>Specialisation:</h4>
    </div>

    <!-- Gets specialisation of cohort -->
    <div class="col-3">
      <%= App.get_info "specialisation", "specialisation_name", @cohort.specialisation_id%>
    </div>

  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-3">
      <button class="btn btn-secondary btn-lg btn-block" type="button" onclick="window.location.href = '<%= @cohort.cohort_id %>/edit';" name="button">Edit</button>
    </div>

    <div class="col-3">
      <!-- Delete action -->
      <form class="d-none" id="delete-cohort" action="/cohorts/<%= @cohort.cohort_id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete Cohort">
      </form>

      <!-- Button that performs delete action -->
      <button class="btn btn-danger btn-lg btn-block" type="submit" name="button" form="delete-cohort">Delete</button>

      <!-- Displays error message if can't delete -->
      <% if @cannot_delete == true %>
        <p class = "incorrect-input">Cannot delete cohort as it is currently in use.</p>
      <% end %>

    </div>
  </div>
</div>
