<h2>
  Cohort: <%= @cohort.cohort_name%>
</h2>

<h2>
  Specialisation: <%= @cohort.get_info "specialisation", "specialisation_name", @cohort.specialisation_id%>
</h2>
<button type="button" name="button"><a href="<%= @cohort.cohort_id %>/edit">Edit cohort</a></button>
