.sparta-logo {
  background-image: url(https://media.licdn.com/dms/image/C560BAQHGBikARgsz5A/company-logo_200_200/0?e=2159024400&v=beta&t=ooHEmQP3Cswkus82FU4hMSwZJU-1z1nD-J2j4lMe5zI);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 2px;
}

.main-div {
  margin-top: 5%;
}

.incorrect-input {
  color: red;
}

.loginsubmit {
  margin-top: 6px;
}
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

#loginsubmit input[type="text"] { -webkit-text-security: circle ;}
