<div class="container">
  <div class="row justify-content-center">
<form id="user-form" action="/roles/<%= @role.role_id%>" method="POST">

  <div class="form-group row">
    <label for="input-fn" class="col-3 col-form-label">Role</label>
    <input type="text" name="role_name" placeholder="Please enter new role" value="<%= @role.role_name %>">
  </div>

  <div class="">
    <input type="submit" value="Save Role">
  </div>

  <!-- Changes verb to PUT instead of POST if role already exists -->
  <% if @role.role_id != nil%>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
</div>
</div>
