<form action="/roles/<%= @role.role_id%>" method="POST">

  <div>
    <label>Role</label>
    <input type="text" name="role_name" placeholder="Please enter new role" value="<%= @role.role_name %>">
  </div>

  <div>
    <input type="submit" value="Save Role">
  </div>

  <!-- Changes verb to PUT instead of POST if role already exists -->
  <% if @role.role_id != nil%>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
