

<h1>
  <%= "#{@role.role_name}"%>
</h1>

<h2>
  Cohort: <%= @role.get_info "role_id", "role_name", @role.role_id%>
</h2>

<button type="button" name="button"><a href="<%= @role.role_name %>/edit">Edit User</a></button>

<form class="" action="/roles/<%= @role.role_name %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete User">
</form>
