<h1>Login</h1>

<form action="/" method="POST">

  <div>
    <label>Email</label>
    <input type="text" name="email" placeholder="Please enter your email">
  </div>

  <div>
    <label>Password</label>
    <input type="text" name="password" placeholder="Please enter your password">
  </div>

  <% if @correct_login == false %>
    <p class="incorrect-input">Your email or password is incorrect</p>
  <% end %>

  <% puts "@not_logged_in: #{@not_logged_in}"%>

  <% if @not_logged_in == true %>
    <p class="incorrect-input">You must log in before accessing this page</p>
  <% end %>



  <div class="">
    <input type="submit" value="Submit">
  </div>

</form>
