<h1>Users</h1>


<table>
  <tr>
    <th>Full Name</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user|%>
    <tr>
      <td><a href="/users/<%= user.user_id %>"><%= user.first_name %> <%= user.last_name %></a></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
