<link rel="stylesheet" href="../css/showUser.css">

<h1 class="text-center">Make A New User</h1>

<br>

<% if @redirect == true %>
  <p class="incorrect-input text-center">All fields must be filled. Password must be at least 8 characters, including 1 uppercase, 1 lowercase, and 1 number. Must be a @spartglobal.com email address.</p>
<% end %>

<% if @not_unique == true %>
  <p class="incorrect-input text-center">This email already has an associated account</p>
<% end %>

<%= erb :"users/form", :layout => false%>
