<<<<<<< HEAD
<link rel="stylesheet" href="../css/showUser.css">
<h1>Make A New User</h1>
=======
<h1 class="text-center">Make A New User</h1><br>
>>>>>>> dev

<% if @redirect == true %>
  <p class="incorrect-input">All fields must be filled. Password must be at least 8 characters, including 1 uppercase, 1 lowercase, and 1 number. Must be a @spartglobal.com email address.</p>
<% end %>

<%= erb :"users/form", :layout => false%>
